:root{
    --green: rgb(57, 206, 12);
    --lemonGreen: rgb(100, 233, 59);
    --gray: rgb(41, 40, 40);
    --white: white;
    --black: black;
    --lightYellow: rgb(211, 211, 25);
    --lightGray: rgb(146, 141, 141);
    --red: red;
    --orange: orange;
    --blue: rgb(53, 128, 241);
  }